<!-- main/advancement-detail.html -->

<html lang="en-gb">
    {% include "base/header.html" %}

    <body>
        {% include "base/navbar.html" %}

        <div class="content">
            <div class="advancement-detail-title">
                <img src="{{ url_for('static', filename='images/misc/' + 'name-left.png' ) }}" class="advancement-detail-name-side side-left">
                <div class="advancement-detail-image">
                    <img src="{{ url_for('static', filename='images/misc/frame.png') }}" class="advancement-detail-frame-bg">
                    <img src="{{ url_for('static', filename='images/' + advancement.image) }}" alt="{{ advancement.name }} image" class="advancement-detail-icon">
                </div>
                <div class="advancement-detail-name-border">
                    <h1 class="advancement-detail-name">{{ advancement.name }}</h1>
                </div>
                <img src="{{ url_for('static', filename='images/misc/' + 'name-right.png' ) }}" class="advancement-detail-name-side side-right">
            </div>
            <div class="advancement-detail-description">
                <div class="advancement-detail-description-side desc-border-top">
                    <div class="pixel-top-left"></div>
                    <div class="line-top"></div>
                    <div class="pixel-top-right"></div>
                </div>
                <div class="advancement-detail-description-border">
                    <p>{{ advancement.description }}</p>
                </div>
                <div class="advancement-detail-description-side desc-border-bottom">
                    <div class="pixel-bottom-left"></div>
                    <div class="line-bottom"></div>
                    <div class="pixel-bottom-right"></div>
                </div>
                
            </div>
        </div>
        
    </body>
    
    {% include "base/footer.html" %}
</html>

<!-- /main/advancement-detail.html -->