<!-- main/advancements.html -->

<html lang="en-gb">
    {% include "base/header.html" %}

    <body>
        {% include "base/navbar.html" %}

        <div class="content">
            <h2>Hi {{ user_name }}!</h2>

            <h3>Advancements</h3>
            {% if error != None %}
                <p class="error">{{ error }}</p>
            {% else %}
                <div class="advancements">
                    {% for advancement in advancements %}
                        <div class="advancement">
                            <div class="adv-frame">
                                <img src="{{ url_for('static', filename='images/misc/frame.png') }}" class="frame-bg">
                                {% if advancement.image %}
                                    <img src="{{ url_for('static', filename='images/' + advancement.image) }}" alt="{{ advancement.name }} image" class="adv-image">
                                {% else %}
                                    <img src="{{ url_for('static', filename='images/misc/preview_placeholder.png') }}" alt="{{ advancement.name }} image" class="adv-image">
                                {% endif %}
                            </div>
                            <p>{{ advancement.name }}</p>
                            <p>{{ advancement.description }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        
        </div>

    </body>
    
    {% include "base/footer.html" %}
</html>

<!-- /main/advancements.html -->