/* admin-styles.css */

/* General styles */

* {
    font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    padding: 8;
    padding-top: 10px;

    padding-top: 80px; /* ONLY TO MAKE SPACE FOR DISCLAIMER */
}

/* Discaimer */

.disclaimer {
    position: fixed;
    left: 0;
    right: 0;
    top: 20px;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    text-align: center;
    font-family: arial;
    font-size: 1.2em;
    font-weight: bold;
}

/* database form */

.db-form {
    margin: 20px 20px 80px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.db-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* database table */

.db-table {
    width: 100%;
    border-collapse: collapse;
}

.db-table th, .db-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* assets management */

.assets-existing {
    margin: 20px 20px 20px 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.assets-existing ul {
    list-style-type: none;
    padding: 0;
}

.assets-existing li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.assets-existing li:last-child {
    border-bottom: none;
}

.assets-existing img {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

/* /admin-styles.css */