/* styles.css */

/* Font definitions */

@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/minecraft.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/minecraft-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/minecraft-italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/minecraft-bold-italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

/* General styles */

* {
    font-family: 'Minecraft';
}

body {
    margin: 0;
    padding: 8;
    padding-top: 120px;

    margin: 0;
    height: 100vh;
    background-image: url("/../../static/images/misc/background.png");
    background-repeat: repeat;
    background-size: 64px 64px;
    background-position: top left;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

    padding-top: 160px; /* ONLY TO MAKE SPACE FOR DISCLAIMER */
}


/* Navbar */

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 30px 0px 30px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-item {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 30px 10px 30px;
    display: inline-block;
}

.nav-l {
    margin-right: auto;
}
.nav-r {
    margin-left: auto;
}
.nav-r:first-of-type {
    margin-left: auto;
}
.nav-r:not(:first-of-type) {
    margin-left: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

/* Discaimer */

.disclaimer {
    position: fixed;
    left: 0;
    right: 0;
    top: 90px;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    text-align: center;
    font-family: arial;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 1000;
}

/* Advancements */

.advancements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.adv-frame {
    width: 96px;
    height: 96px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.advancement {
    font-size: 40px;
}

.frame-bg {
    width: 96px;
    height: 96px;
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.adv-image {
    width: 64px;
    height: 64px;
    z-index: 1;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.adv-title {
    display: flex;
    flex-direction: row;
}

.adv-name {
    background-color: #b98f2c;
    color: white;
	margin-bottom: 8px;
	height: 40px;
	margin-top: 8px;
	border-top-width: 4px;
	border-top-style: solid;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-right-width: 4px;
	border-right-style: solid;
	border-color: #000;
	padding-top: 16px;
	line-height: 1;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
    white-space: nowrap;
    text-shadow: 4px 4px 0px #3e3e3e;
}

.adv-name-side {
	background-color: #b98f2c;
	width: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	height: 72px;
	border-top-width: 4px;
	border-top-style: solid;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-left-width: 4px;
	border-left-style: solid;
}

.adv-desc {
    background-color: #212121;
    color: #54fc54;
    margin-top: -12px;
    border-left-width: 4px;
    border-left-style: solid;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-right-width: 4px;
    border-right-style: solid;
    border-top-width: 4px;
    border-top-style: solid;
    border-color: #000;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    margin-bottom: 0px;
    line-height: 1;
    padding-top: 12px;
    text-shadow: 4px 4px 0px #153e15;
}

.adv-name-side, .adv-name, .adv-desc {
    opacity: 0;
    cursor: default;
    transition: opacity 0.1s ease-in-out;
}


/* important styles */

.red-text {
    color: red !important;
}

/* /styles.css */