/* styles.css */

/* Font definitions */

@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/minecraft.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/minecraft-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/minecraft-italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/minecraft-bold-italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

/* General styles */

* {
    font-family: 'Minecraft';
}

body {
    margin: 0;
    padding: 8;
    padding-top: 120px;

    margin: 0;
    height: 100vh;
    background-image: url("/../../static/images/misc/background.png");
    background-repeat: repeat;
    background-size: 64px 64px;
    background-position: top left;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

    padding-top: 160px; /* ONLY TO MAKE SPACE FOR DISCLAIMER */
}


/* Navbar */

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 30px 0px 30px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-item {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 30px 10px 30px;
    display: inline-block;
}

.nav-l {
    margin-right: auto;
}
.nav-r {
    margin-left: auto;
}
.nav-r:first-of-type {
    margin-left: auto;
}
.nav-r:not(:first-of-type) {
    margin-left: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

/* Discaimer */

.disclaimer {
    position: fixed;
    left: 0;
    right: 0;
    top: 90px;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    text-align: center;
    font-family: arial;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 1000;
}

/* Advancements */

.advancement-column a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.advancements {
    display: grid;
    grid-template-columns: repeat(auto-fit, 112px);
    padding-left: 200px;
    grid-auto-flow: column;
    width: max-content;
}

.advancement-column {
    display: grid;
    grid-template-rows: repeat(auto-fit, 112px);
}

.tile-bg {
    width: 112px;
    height: 112px;
    position: absolute;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    z-index: -1;
}

.tile-empty {
    width: 112px;
    height: 112px;
    position: relative;
}

.adv-frame {
    width: 96px;
    height: 96px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.advancement {
    font-size: 37px;
    position: relative;
    z-index: 1;
}

.adv-main {
    position: absolute;
    top: 8px;
    left: -8px;
}

.frame-bg {
    width: 96px;
    height: 96px;
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.adv-image {
    width: 64px;
    height: 64px;
    z-index: 1;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.adv-title {
    display: flex;
    flex-direction: row;
}

.adv-name {
    background-color: #b98f2c;
    color: white;
	border-top-width: 4px;
	border-top-style: solid;
    border-top-color: #dba213;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #493606;
	padding-top: 12px;
	line-height: 1;
	padding-bottom: 12px;
	padding-left: 16px;
	padding-right: 8px;
    white-space: nowrap;
    text-shadow: 4px 4px 0px #3e3e3e;
    margin: 0px;
    height: 40px;
}

.adv-name-border {
    background-color: #000;
	margin-top: 8px;
	margin-bottom: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.name-side {
    width: 16px;
    height: 80px;
    position: relative;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    padding-top: 8px;
}

.adv-desc {
    background-color: #212121;
    color: #54fc54;
    border-left-width: 4px;
    border-left-style: solid;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-right-width: 4px;
    border-right-style: solid;
    border-top-width: 4px;
    border-top-style: solid;
    border-color: #555555;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    line-height: 1;
    padding-top: 12px;
    text-shadow: 4px 4px 0px #153e15;
    margin:0px;
}

.adv-desc-border {
    background-color: #000;
    margin-top: -16px;
    margin-bottom: 0px;
    padding: 4px;
}

.adv-temp {
    opacity: 0;
    z-index: -1000;
}

/* Advancement Detail Page */

.advancement-detail-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.advancement-detail-name-side {
    width: 32px;
    height: 160px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    position: relative;
    margin-top: 16px;
}

.side-right {
    margin-left: auto;
}

.advancement-detail-image {
    width: 192px;
    height: 192px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
}

.advancement-detail-frame-bg {
    width: 192px;
    height: 192px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    position: absolute;
    top: 0;
    left: 0;
}

.advancement-detail-icon {
    width: 128px;
    height: 128px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    position: relative;
    z-index: 1;
}

.advancement-detail-name-border {
    background-color: #000;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
}

.advancement-detail-name {
    background-color: #b98f2c;
    color: white;
    border-top-width: 8px;
	border-top-style: solid;
    border-top-color: #dba213;
	border-bottom-width: 8px;
	border-bottom-style: solid;
	border-bottom-color: #493606;
    height: 128px;
    margin: 0px;
    text-align: center;
    font-size: 60px;
    line-height: 1;
    text-shadow: 6px 6px 0px #3e3e3e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advancement-detail-description {
    margin-top: 16px;
}

.advancement-detail-description p {
	text-align: center;
	background-color: #212121;
	color: #54fc54;
	text-shadow: 4px 4px 0px #153e15;
    margin: 0px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 16px;
    font-size: 40px;
    line-height: 1.5;
}

.advancement-detail-description-side {
    display: flex;
    flex-direction: row;
}

.advancement-detail-description-border {
    border-left-width: 8px;
	border-left-style: solid;
	border-left-color: #000000;
    border-right-width: 8px;
	border-right-style: solid;
	border-right-color: #000000;
    background-color: #555555;
}

.pixel-top-left {
    width: 8px;
    height: 8px;
    background-color: #000000;
    margin-top: 8px;
    margin-left: 8px;
}

.pixel-top-right {
    width: 8px;
    height: 8px;
    background-color: #000000;
    margin-top: 8px;
    margin-right: 8px;
}

.line-top {
    height: 8px;
    background-color: #555555;
    border-top-width: 8px;
	border-top-style: solid;
	border-top-color: #000000;
    width: calc(100% - 16px);
}

.line-bottom {
    height: 8px;
    background-color: #555555;
    border-bottom-width: 8px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    width: calc(100% - 16px);
}

.pixel-bottom-left {
    width: 8px;
    height: 8px;
    background-color: #000000;
    margin-bottom: 8px;
    margin-left: 8px;
}

.pixel-bottom-right {
    width: 8px;
    height: 8px;
    background-color: #000000;
    margin-bottom: 8px;
    margin-right: 8px;
}

/* important styles */

.red-text {
    color: red !important;
}

/* /styles.css */