<!-- admin/advancements.html -->

<html lang="en-gb">
    {% include "admin/header.html" %}

    <body>

        <div class="content">
            <a href="/admin">Admin home</a>
            <br>
            <h3>Advancements</h3>

            <a href="/admin/advancements/create">Create new advancement</a>
            <br>
            <a href="/admin/advancements/list">View all advancements</a>
            <br>
            <a href="/admin/advancements/layout">Advancements layout</a>
        </div>

        

    </body>
</html>

<!-- /admin/advancements.html -->